body{
text-align:justify;
background-image:url(file:///G|/mohit/documents/photos/bg2.JPG);
background-position:center;
background-repeat:repeat;
}


/*header */
#header
{

}
#h1
{
background-image:url(photos/bg0.jpg);
/*-webkit-linear-gradient(90deg,#FFCC00,#FFCC33,#FFCC66,#FFCC99);*/
height:90px;
width:100%;
text-align:center;
text-transform:;
text-decoration:underline;
text-shadow:#FFFFFF 1px 1px;
color:#0000FF;
font-weight:;
font-size:36px;
font-style:italic;
font-variant:small-caps;
font-family:Verdana, Arial, Helvetica, sans-serif;
padding-top:50px;
padding-right:13px;
margin-left:-6px;
}

.hi1
{
margin-left:-492px;
text-align:left;
position:absolute;
height:120px;
width:200px;
margin-top:-40px;
}
.hi2
{
margin-left:1150px;
text-align:left;
padding-top:-100px;
height:120px;
width:200px;
margin-top:-130px;
}

button
{
background:#00FF00;
font-weight:bold;
cursor:pointer;
/*border-radius:15px; */
/*new*/
height:30px;
width:150px;
border-right:#00FF00;
border-left:#00FF00;
background:#00FF00;
border-style:hidden;
color:#0000FF;
}
button:hover
{
background:#0000FF;
color:#00FF00;
-webkit-transform:scale(1.2,1.2);
/*new*/
border-left-color:#FFFFFF;
border-right-color:#FFFFFF;
}
#bl
{
margin-top:-20px;
text-align:right;
margin-right:9px;
}

/*add */
hr
{
border-color:red;
}
#add
{
color:#FF0000;
margin-left:px;
font-weight:bold;
margin-top:;
text-shadow:#00FF00 1px 1px;
/*border-bottom:#FF0000;
border-bottom:double;
border-top:#FF0000;
border-top:solid; */
}

/*share */
#share /*div */
{
margin-top:100px;
position:absolute;
z-index:auto;
}

#sbg /*share icon background */
{
width:50px;
border-radius:5px;
}
#sbg:hover
{
width:150px;
}










/*pages */
#pages
{
}
.page
{
/*width:100%; */
}

/*about us */
h1
{
font-family:"Times New Roman", Times, serif;
font-weight:;
font-size:36px;
text-align:center;
text-shadow:#FFFF00 2px 2px;
color:#FF0000;
}

/*subject */
#sl /* subjects list*/
{
color:#0000FF;
font-size:25px;
font-family:Georgia, "Times New Roman", Times, serif;
text-shadow:#FFFFFF 1px 1px;
line-height:50px;

}
#sl:hover
{
color:#FF0000
}

#sbtnl
{
/*list-style-image:url(../photos/bg2.JPG); */
list-style:none;   /*disc not show */
list-style-position:inside;  
line-height:30px; /*list line space */
margin-left:55px;
}
a
{
color:;
text-shadow:#FFFFFF 2px 2px;
}
a:hover
{
color:#FFFF00;
text-shadow:#FF0000 2px 2px;
}



/*contect us*/
i
{
color:#FF0000;
text-shadow:#FFFFFF 1px 1px;
}

input 
{
height:30px;
width:px;
margin-left:20px;
border-radius:15px;
 background:-webkit-linear-gradient(90deg,#FFFFFF,#CCCCCC);
text-shadow:#FFFFFF 1px 1px;
text-decoration:inherit;
color:#0033CC;
}
input:hover
{
-webkit-transform:scale(1.2,1.2);
-transform:scale(1.2,1.2);
background:-webkit-linear-gradient(90deg,#000066,#000099,#0000CC,#0000FF);
color:#FFFF00;
border-color:#FFFF00;
}
textarea:hover /*message */
{
background:-webkit-linear-gradient(90deg,#000066,#000099,#0000CC,#0000FF);
color:#FFFF00;
}
.marquee /*marquee images*/
{
height:200px;
width:250px;
border-radius:5px;
position:absolute;
}

#m1 /*marquee left*/
{
text-align:left;
height:558px;
width:275px;
margin-left:55px;
position:absolute;
}

#m2 /* marquee right */
{
height:558px;
width:275px;
margin-left:1069px;
text-align:right;
position:absolute;
}
#m3 /*marquee bottom */
{
width:100%;
margin-left:px;
}

.m /*maruee sheets */
{

}

#mi
{
height:200px;	
width:250px;
border-radius:5px;
}

#cbtnp
{
margin-top:450px;
}

#mesage
{
}
#message:hover
{
background:-webkit-linear-gradient(90deg,#000066,#000099,#0000CC,#0000FF);
color:#FFFFFF;
}







/*footer */
#img
{
height:25px;
width:30px;
}
#footer
{
background:-webkit-linear-gradient(90deg,#666666,#999999,#CCCCCC,white);
color:#000000;
text-shadow:#FFFFFF 1px 1px;
height:150px;
padding-left:10px;
margin-left:10px;
}

/* test */
abc
{
color:;

}