/* Add Question */

#ph{
font-size:36px;
color:red;
text-align:center;
text-shadow:white 4px 4px 2px;
text-transform:uppercase;
}

.head{
color:red;

}

/*next button */
.nxt{
height:30px;
}

.slt{
width:150px;
height:30px;
font-size:16px;
}

#que{
width:300px;
height:30px;
font-size:px
}

.ans{
width:300px;
height:30px;
}


section{
margin:5px;
padding:5px;
min-height: 250px;
background-size: 500px 100%;
background-repeat:no-repeat;
background-position:center;
text-shadow:white 1px 1px;
box-shadow:1px 1px 1px 1px skyblue;
}

footer{
margin:5px;
padding:5px;
background:url(../images/slides.jpg);
background-repeat:no-repeat;
background-position:center;
background-size:100% 100%;
}

header{
margin:5px;
padding:5px;
background:url(../images/footer6.jpg);
background-size:100% 100%;
}

article{
	margin: 5px;
	padding: 5px;
}